<a href="/email" class="list-group-item list-group-item-action bg-light">Send Massive Emails</a>
<a href="/http" class="list-group-item list-group-item-action bg-light">Massive HTTP Requests</a>
<a href="/ftp" class="list-group-item list-group-item-action bg-light">Massive FTP Requests</a>
<a href="/ssh" class="list-group-item list-group-item-action bg-light">Massive SSH Requests</a>
<a href="/custom" class="list-group-item list-group-item-action bg-light">Massive Custom Requests</a>
<a href="/slowloris" class="list-group-item list-group-item-action bg-light">Slowloris Attack (DDoS)</a>
<a href="/portscan" class="list-group-item list-group-item-action bg-light">Send Massive Port Scan</a>
<a href="/sms" class="list-group-item list-group-item-action bg-light">Send Massive SMS</a>
<a href="/call" class="list-group-item list-group-item-action bg-light">Make Phone Call</a>